
.sphere{
    position: relative;

   
    width: 300px;
    height: 300px;
    margin: 3em auto;
  
    
  
  
    
    border-radius: 50%;
    box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  
   
    transform-style: preserve-3d;
   
  }

  



.shapeMenu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: Stellar ;
    border-bottom:1px solid black;
}

.cube{
  width: 200px;
  height: 200px;
  perspective: 600px;
  position: absolute;
  left:43.5%;
  top:30%;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
}
.cubeFront{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateY(  0deg) translateZ(100px);
    border: 2px solid black;
    text-align: center;
}
.cubeBottom{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateX(-90deg) translateZ(100px); 
    border: 2px solid black;
    text-align: center;
}
.cubeBack{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateY(180deg) translateZ(100px);
    border: 2px solid black;
    text-align: center;
}
.cubeTop{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateX( 90deg) translateZ(100px);
    border: 2px solid black;
    text-align: center;
}
.cubeLeft{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateY(-90deg) translateZ(100px); 
    border: 2px solid black;
    text-align: center;
}
.cubeRight{
    position: absolute;
    width: 200px;
    height: 200px;
    transform: rotateY( 90deg) translateZ(100px);
    border: 2px solid black;
    text-align: center;
}


.camera{
    width:200px;
    height:200px;
    perspective-origin:center center;
    -moz-perspective-origin:center center;
    -webkit-perspective-origin:center center;
    perspective:500px;
    -moz-perspective:500px;
    -webkit-perspective:500px;
}
.space{
    position:relative;
    width:100%;
    height:100%;
    border:1px dashed #000;
    transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
}

